.navbar-container {
    position: sticky;
    top: 0;
    background-color: rgba(36, 27, 59, 0.8); /* Màu trong suốt giống playingbar */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 1040;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 1rem;
}

.navbar-container.with-sidebar {
    margin-left: 250px; /* Margin trái bằng với chiều rộng của sidebar */
    transition: margin-left 0.3s; /* Thêm transition để mượt mà khi đóng/mở sidebar */
}

.navbar-container:not(.with-sidebar) {
    margin-left: 0;
    transition: margin-left 0.3s;
}

/* Style cho search input */
.search-input {
    background-color: rgba(47, 40, 75, 0.8) !important;
    border: none !important;
    color: white !important;
}

.search-input:focus {
    background-color: rgba(47, 40, 75, 0.9) !important;
    box-shadow: none !important;
}

.search-input::placeholder {
    color: #6c757d !important;
} 